:root {
    --slider-pos: 180%;
}

* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}

a {
    text-decoration: none
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

.profile {
    justify-content: end;
    align-items: end;
    display: flex;
    width: 250px;
    height: 250px;
    position: fixed;
    z-index: 1;
    bottom: 40px;
    right: 50px;

    &:hover>.outline {
        opacity: 0;
        visibility: 0;
    }

    &:hover>div>.icons>a {
        offset-distance: 92%;
    }

    &:hover>div>.icons>a{
        opacity: 1;
    }

    >.outline {
        position: absolute;
        width: 150px;
        height: 150px;
        left: 100%;
        top: 100%;
        border-radius: 50%;
        transform: translate(-100%, -100%);
        border-top: 5px solid rgb(105, 105, 105);
        border-bottom: 5px solid white;
        animation: border-spin 5s infinite linear;
        transition: .5s;
        // transform-origin: 50% 50%;

        @keyframes border-spin {

            to {
                transform: translate(-100%, -100%) rotate(360deg);
            }
        }
    }


    >div {
        width: 150px;
        height: 150px;
        position: relative;
        border-radius: 50%;
        animation-fill-mode: backwards;
        animation-name: move .5s;

        >.icons {
            display: flex;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 35px;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            
            
            >a { 
                transition: .4s;
                opacity: 0;
                color: snow;
                position: absolute;
                offset-rotate: 360deg;
                offset-distance: 0%;
                transition: .5s;

                &:nth-of-type(1) {
                    offset-path: path("M62.78,125H3.7c0,0-5.61-84.39,83.8-116.13");
                    transition-delay: 1.5s;
                }

                &:nth-of-type(2) {
                    offset-path: path("M102.43,125H3.7c0,0-5.61-84.39,83.8-116.13 c0, 0, 17.15-6.61, 40.89-5.83");
                    transition-delay: 1s;
                }

                &:nth-of-type(3) {
                    offset-path: path("M149.65,125H3.7c0,0-5.61-84.39,83.8-116.13 c0,0,17.15-6.61,40.89-5.83c0,0,20.83,0.11,40.87,8.21");
                    transition-delay: .5s;
                }

                &:nth-of-type(4) {
                    offset-path: path("M188.78,125H3.7c0,0-5.61-84.39,83.8-116.13 c0,0,17.15-6.61,40.89-5.83c0,0,20.83,0.11,40.87,8.21c0,0,19.94,7.13,36.98,22.56");
                }

            }
        }

        >figure {
            width: 100%;
            height: 50%;
            position: absolute;
            left: 0;
            overflow: hidden;

            >img {
                width: 100%;
                height: 100%;
            }

            &:nth-of-type(1) {
                top: 0%;
                clip-path: circle(50.0% at 50% 100%);
            }

            &:nth-of-type(2) {
                top: 50%;
                clip-path: circle(50.0% at 50% 0);
            }
        }

        >h3 {
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 30px;
            color: white;
            font-weight: normal;
            text-shadow: -2px 0px 0px black,
                2px 0px 0px black,
                0px -2px 0px black,
                0px 2px 0px black, ;
        }
    }
}

main {
    background-color: #03071C;
    background-image: url(../img/lines.svg);
    // background-size: 120%;
    background-position: -600px 300px;
    background-repeat: no-repeat;

    >.row {
        header {
            height: 50px;
            color: white;
            position: fixed;
            z-index: 1000;
            font-family: JetBrains Mono;

            a {
                color: white;
            }

            >div {

                &:nth-of-type(2) {
                    >ul {
                        border-radius: 15px;
                        
                        a {
                            color: black;
                        }

                        >li {
                            transition: .4s;
                            font-size: 14px !important;

                            &:hover {
                                opacity: 1 !important;
                            }
                        }
                    }
                }

                &:nth-of-type(3) {
                    top: 100%;
                    left: 0;
                    height: 0;
                    transition: .4s linear;
                    overflow: hidden;
                    
                    >ul {
                        >li {
                            >a {
                                color: black !important;
                            }
                        }
                    }
                }
            }

            >.res-nav {
                height: 205px !important;
            }
        }

        // end of the header
    }

    // end of the header's .row

    #section1 {
        width: 100%;
        height: 90vh;
        font-family: Golos Text;

        >.row {

            >div {

                >p {
                    color: transparent;
                    background: linear-gradient(90deg, rgba(199, 125, 255, 1) 0%, rgba(157, 78, 221, 1) 50%, rgba(163, 206, 241, 1) 100%);
                    background-clip: text;
                    font-size: 14px;
                }

                >h2 {
                    line-height: 78%;
                    font-size: 13vw;
                    font-weight: bold;
                    color: white;

                    >span {

                        &:nth-of-type(1) {
                            >strong {
                                color: transparent;
                                background: linear-gradient(90deg, rgba(90, 24, 154, 1) 0%, rgba(0, 119, 182, 1) 50%, rgba(128, 237, 153, 1) 100%);
                                background-clip: text;
                            }
                        }

                        &:nth-of-type(3) {
                            background: linear-gradient(to bottom, #ffffff, #ffffff6f, #ffffff3c, #ffffff10);
                            color: transparent;
                            background-clip: text;
                        }
                    }
                }

                >h4 {
                    color: #9d9d9d;
                    font-size: 20px;
                    width: 60%;
                }

                >div {

                    >a {
                        display: inline-block;
                        font-family: JetBrains Mono;
                        font-size: 12px;
                        width: 200px;
                        height: 55px;
                        line-height: 55px;
                        border-radius: 10px;
                        background-color: #171A34;
                        transition: .4s;

                        &:hover {
                            transform: scale(1.1);
                            background-color: #885EFE;
                        }

                        >span {

                            &:nth-of-type(1) {
                                color: white;
                            }

                            &:nth-of-type(2) {
                                color: #888888;
                            }
                        }
                    }
                }
            }
        }
    }

    // end of section 1

    #section2 {
        perspective: 700px;
        transform-style: preserve-3d;
        padding-bottom: 100px !important;

        >figure {
            margin: 0px auto !important;
            cursor: pointer;
            width: 95%;
            transition: .7s ease-out;
            transform-style: preserve-3d;
            transform-origin: 50% 50%;

            >img {
                display: block;
                width: 100%;
                border-radius: 40px;
            }

            &:hover {
                transform: rotateX(50deg);
            }
        }
    }

    // end of section 2
    #section3 {
        overflow-x: hidden;

        // height: 100vh;
        >.row {
            >div {
                >.row {
                    margin-bottom: 100px !important;

                    >div {
                        &:nth-of-type(1) {
                            >* {
                                margin: 10px 6px !important;
                                font-family: Golos Text;
                                color: white;
                            }

                            >span {
                                display: inline-block;
                                background-color: brown;
                                padding: 5px !important;
                                color: #C0B1FF9E;
                                background-color: #C0B1FF16;
                                border-radius: 7px;
                            }

                            >h2 {
                                font-size: 50px;
                                font-weight: 500;
                                line-height: 100%;
                                margin-bottom: 25px !important;

                                >span {
                                    color: transparent;
                                    background: linear-gradient(90deg, rgba(199, 125, 255, 1) 0%, rgba(157, 78, 221, 1) 50%, rgba(163, 206, 241, 1) 100%);
                                    background-clip: text;
                                }
                            }

                            >p {
                                padding: 0 !important;
                                font-size: 16px;
                                font-weight: 500;
                                color: #FFFFFF72;
                            }

                            >ul {
                                >li {
                                    list-style-type: none;
                                    width: 350px;
                                    padding: 8px 0 !important;
                                    font-family: JetBrains Mono;

                                    &:hover>i {
                                        scale: 1.3;
                                        border: 1px solid transparent;
                                        background-color: #792D8F;
                                    }

                                    >i {
                                        padding: 10px !important;
                                        border: 1px solid #FEFEFF72;
                                        border-radius: 50%;
                                        font-size: 10px;
                                        transition: .4s;
                                    }

                                    >p {
                                        display: inline-block;

                                        font-weight: 600;
                                        font-size: 15px;
                                        color: #FEFEFF72;
                                        margin-left: 5px !important;
                                    }
                                }
                            }
                        }

                        &:nth-of-type(2) {
                            >.row {
                                >div {
                                    >div {
                                        >figure {
                                            display: flex;
                                            flex-wrap: wrap;
                                            flex-direction: column;
                                            justify-content: center;
                                            align-items: center;
                                            width: 100%;
                                            height: 160px;
                                            border-radius: 30px;
                                            background-color: #FFFFFF07;
                                            margin: 6px !important;
                                            transition: .4s;

                                            &:hover {
                                                transform: scale(1.2);
                                            }

                                            >span {
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                margin: 5px 10px;
                                                width: 70px;
                                                height: 70px;
                                                border-radius: 50%;
                                                margin-bottom: 5px !important;

                                                >i {
                                                    font-size: 20px;
                                                }
                                            }

                                            >figcaption {
                                                font-family: Golos Text;
                                                color: white;
                                                font-weight: 500;
                                            }
                                        }

                                        &:nth-of-type(1) {
                                            >figure {
                                                &:nth-of-type(1) {
                                                    >span {
                                                        background-color: #ad5e1055;
                                                    }

                                                    i {
                                                        color: #AD5F10;
                                                    }

                                                    &:hover {
                                                        background-color: #ad5e1055;
                                                    }
                                                }

                                                &:nth-of-type(2) {
                                                    >span {
                                                        background-color: #92b75255;
                                                    }

                                                    i {
                                                        color: #92B752;
                                                    }

                                                    &:hover {
                                                        background-color: #92b75255;
                                                    }
                                                }

                                                &:nth-of-type(3) {
                                                    >span {
                                                        background-color: #D94CEB55;
                                                    }

                                                    i {
                                                        color: #D94CEB;
                                                    }

                                                    &:hover {
                                                        background-color: #D94CEB55;
                                                    }
                                                }

                                            }
                                        }

                                        &:nth-of-type(2) {
                                            >figure {
                                                &:nth-of-type(1) {
                                                    >span {
                                                        background-color: #CEC07255;
                                                    }

                                                    i {
                                                        color: #CEC072;
                                                    }

                                                    &:hover {
                                                        background-color: #CEC07255;
                                                    }
                                                }

                                                &:nth-of-type(2) {
                                                    >span {
                                                        background-color: #774EA855;
                                                    }

                                                    i {
                                                        color: #774EA8;
                                                    }

                                                    &:hover {
                                                        background-color: #774EA855;
                                                    }
                                                }

                                                &:nth-of-type(3) {
                                                    >span {
                                                        background-color: #68DBC955;
                                                    }

                                                    i {
                                                        color: #68DBC9;
                                                    }

                                                    &:hover {
                                                        background-color: #68DBC955;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        // end of section 3 card

        >.card2 {
            >div {
                >.row {
                    justify-content: space-evenly;
                    border-radius: 40px;
                    padding: 40px 10px !important;
                    border: 1px solid #ffffff1c;

                    >div {
                        &:nth-of-type(1) {}

                        &:nth-of-type(2) {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: auto;

                            >.row {

                                >figure {

                                    // width: 500px;
                                    >img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // end of section 3 card part2

        >.slider {
            height: 290px;

            >.row {
                >.rails {
                    position: relative;

                    >.rail {
                        position: absolute;
                        border: 1px solid black;
                        animation: slide 5s linear infinite;
                        display: flex;
                        animation: 5s linear infinite;


                        &:nth-of-type(2) {
                            top: 110px;

                            >.sticker {
                                opacity: .8;
                                animation: 30s linear infinite reverse;
                            }
                        }

                        &:nth-of-type(3) {
                            top: 220px;

                            >.sticker {
                                opacity: .2;
                            }
                        }

                        >.sticker {
                            position: absolute;
                            border-radius: 18px;
                            width: 200px;
                            height: 75px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            border-radius: 18px;
                            background-color: #131830;
                            animation: 30s linear infinite;

                            >i {
                                font-size: 32px;
                                margin-right: 5px !important;
                                display: inline-block;
                                color: #784EA9;
                            }

                            >span {
                                font-size: 23px;
                                font-weight: 500;
                            }

                            &:nth-of-type(1) {
                                left: -300px;
                                animation-name: slider1;
                            }

                            &:nth-of-type(2) {
                                left: 0;
                                animation-name: slider2
                            }

                            &:nth-of-type(3) {
                                left: 300px;
                                animation-name: slider3
                            }

                            &:nth-of-type(4) {
                                left: 600px;
                                animation-name: slider4
                            }

                            &:nth-of-type(5) {
                                left: 900px;
                                animation-name: slider5
                            }

                            &:nth-of-type(6) {
                                left: 1200px;
                                animation-name: slider6
                            }

                            &:nth-of-type(7) {
                                left: 1500px;
                                animation-name: slider7
                            }

                            &:nth-of-type(8) {
                                left: 1800px;
                                animation-name: slider8;
                            }

                            @keyframes slider8 {
                                0% {
                                    left: 1800px;
                                }

                                12.5% {
                                    left: 2100px;
                                }

                                12.500001% {
                                    left: -300px;
                                }

                                25% {
                                    left: 0px;
                                }

                                37.5% {
                                    left: 300px;
                                }

                                50% {
                                    left: 600px;
                                }

                                62.5% {
                                    left: 900px;
                                }

                                75% {
                                    left: 1200px;
                                }

                                87.5% {
                                    left: 1500px;
                                }

                                100% {
                                    left: 1800px;
                                }
                            }

                            @keyframes slider7 {
                                0% {
                                    left: 1500px;
                                }

                                12.5% {
                                    left: 1800px;
                                }

                                25% {
                                    left: 2100px;
                                }

                                25.00001% {
                                    left: -300px;
                                }

                                37.5% {
                                    left: 0;
                                }

                                50% {
                                    left: 300px;
                                }

                                62.5% {
                                    left: 600px
                                }

                                75% {
                                    left: 900px;
                                }

                                87.5% {
                                    left: 1200px;
                                }

                                100% {
                                    left: 1500px;
                                }
                            }

                            @keyframes slider6 {
                                0% {
                                    left: 1200px;
                                }

                                12.5% {
                                    left: 1500px;
                                }

                                25% {
                                    left: 1800px;
                                }

                                37.5% {
                                    left: 2100px;
                                }

                                37.500001% {
                                    left: -300px;
                                }

                                50% {
                                    left: 0;
                                }

                                62.5% {
                                    left: 300px;
                                }

                                75% {
                                    left: 600px;
                                }

                                87.5% {
                                    left: 900px;
                                }

                                100% {
                                    left: 1200px;
                                }
                            }

                            @keyframes slider5 {
                                0% {
                                    left: 900px;
                                }

                                12.5% {
                                    left: 1200px;
                                }

                                25% {
                                    left: 1500px;
                                }

                                37.5% {
                                    left: 1800px;
                                }

                                50% {
                                    left: 2100px;
                                }

                                50.00001% {
                                    left: -300px
                                }

                                62.5% {
                                    left: 0;
                                }

                                75% {
                                    left: 300px;
                                }

                                87.5% {
                                    left: 600px;
                                }

                                100% {
                                    left: 900px;
                                }
                            }

                            @keyframes slider4 {
                                0% {
                                    left: 600px;
                                }

                                12.5% {
                                    left: 900px;
                                }

                                25% {
                                    left: 1200px;
                                }

                                37.5% {
                                    left: 1500px;
                                }

                                50% {
                                    left: 1800px;
                                }

                                62.5% {
                                    left: 2100px;
                                }

                                62.500001% {
                                    left: -300px
                                }

                                75% {
                                    left: 0;
                                }

                                87.5% {
                                    left: 300px;
                                }

                                100% {
                                    left: 600px;
                                }
                            }

                            @keyframes slider3 {
                                0% {
                                    left: 300px;
                                }

                                12.5% {
                                    left: 600px;
                                }

                                25% {
                                    left: 900px;
                                }

                                37.5% {
                                    left: 1200px;
                                }

                                50% {
                                    left: 1500px;
                                }

                                62.5% {
                                    left: 1800px;
                                }

                                75% {
                                    left: 2100px;
                                }

                                75.00001% {
                                    left: -300px
                                }

                                87.5% {
                                    left: 0;
                                }

                                100% {
                                    left: 300px;
                                }
                            }

                            @keyframes slider2 {
                                0% {
                                    left: 0;
                                }

                                12.5% {
                                    left: 300px;
                                }

                                25% {
                                    left: 600px;
                                }

                                37.5% {
                                    left: 900px;
                                }

                                50% {
                                    left: 1200px;
                                }

                                62.5% {
                                    left: 1500px;
                                }

                                75% {
                                    left: 1800px;
                                }

                                87.5% {
                                    left: 2100px;
                                }

                                87.50001% {
                                    left: -300px;
                                }

                                100% {
                                    left: 0;
                                }
                            }

                            @keyframes slider1 {
                                0% {
                                    left: -300px;
                                }

                                12.5% {
                                    left: 0;
                                }

                                25% {
                                    left: 300px;
                                }

                                37.5% {
                                    left: 600px;
                                }

                                50% {
                                    left: 900px;
                                }

                                62.5% {
                                    left: 1200px;
                                }

                                75% {
                                    left: 1500px;
                                }

                                87.5% {
                                    left: 1800px;
                                }

                                100% {
                                    left: 2100px;
                                }
                            }
                        }

                    }
                }
            }
        }

        //end of slider
        >.card3 {
            >.row {
                justify-content: center;

                >div {
                    width: 550px;
                    height: 600px;
                    border-radius: 40px;
                    padding: 25px 50px !important;
                    border: 1px solid #ffffff51;


                    >div {
                        >* {
                            margin: 10px 6px !important;
                            font-family: Golos Text;
                            color: white;
                        }

                        >span {
                            display: inline-block;
                            background-color: brown;
                            padding: 8px 14px !important;
                            color: #C0B1FF9E;
                            background-color: #C0B1FF16;
                            border-radius: 7px;
                            font-size: 13px;
                        }

                        >h2 {
                            font-size: 45px;
                            font-weight: 500;
                            line-height: 100%;
                            margin-bottom: 25px !important;

                            >span {
                                color: transparent;
                                background: linear-gradient(90deg, rgba(199, 125, 255, 1) 0%, rgba(157, 78, 221, 1) 50%, rgba(163, 206, 241, 1) 100%);
                                background-clip: text;
                            }
                        }

                        >p {
                            padding: 0 !important;
                            font-size: 16px;
                            font-weight: 500;
                            color: #FFFFFF72;
                        }

                        >ul {
                            list-style: none;
                            margin-top: 50px !important;

                            >li {
                                // border: 1px solid red;
                                padding: 14px 15px !important;
                                margin: 12px 0 !important;
                                border-radius: 50px;
                                background: linear-gradient(to right, #ffffff00, #ffffff24);
                                transition: .4s;
                                transform: scale(1);
                                position: relative;
                                z-index: 2;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    border-radius: 50px;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: linear-gradient(to right, #ffffff24, #ffffff00);
                                    opacity: 0;
                                    transition: .4s;
                                    z-index: 1;
                                }

                                &:hover::before {
                                    opacity: 1;
                                }

                                &:hover>i {
                                    opacity: 1;
                                }

                                >span {}

                                >i {
                                    z-index: 1;
                                    font-size: 14px;
                                    padding: 5px !important;
                                    border-radius: 50%;
                                    background-color: #792d8f;
                                    margin-right: 5px !important;
                                    opacity: 0;
                                    transition: .4s;
                                }
                            }
                        }
                    }
                }
            }
        }

        // end of card3

        >.card4 {
            >div {
                >.row {
                    justify-content: space-evenly;
                    border-radius: 40px;
                    padding: 40px 10px !important;
                    border: 1px solid #ffffff1c;

                    >div {
                        &:nth-of-type(1) {
                            >ul {
                                >li {
                                    margin: auto auto !important;
                                    list-style-type: none;
                                    width: 350px;
                                    padding: 8px 0 !important;
                                    font-family: JetBrains Mono;
                                    display: flex;
                                    position: relative;
                                    margin-bottom: 1px !important;
                                    align-items: flex-start;

                                    &::before {
                                        content: '';
                                        position: absolute;
                                        width: 2px;
                                        background-color: #ffffff5e;
                                        top: 49px;
                                        left: 19px;
                                        bottom: -9px;
                                    }

                                    &:last-of-type::before {
                                        display: none;
                                    }

                                    >span {
                                        display: flex;
                                        padding: 15px !important;
                                        background-color: #1B143C;
                                        border-radius: 50%;
                                        font-size: 14px;
                                        color: white;
                                        width: 40px;
                                        height: 40px;
                                        justify-content: center;
                                        align-items: center;
                                    }

                                    >div {
                                        margin-left: 10px !important;
                                        margin-top: 10px !important;

                                        >h5 {
                                            color: white;
                                            margin-bottom: 8px !important;
                                        }

                                        >p {
                                            display: inline-block;

                                            font-size: 14px;
                                            margin-left: 5px !important;
                                            color: #FFFFFF72;
                                        }
                                    }
                                }
                            }
                        }

                        &:nth-of-type(2) {
                            display: flex;

                            >.row {
                                >figure {
                                    width: 550px;

                                    >img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // end of section 3
    footer {
        >.row {
            >div {
                &:nth-of-type(1) {

                    >i {
                        font-size: 35px;
                        color: white;
                        padding: 5px !important;
                    }

                    >ul {
                        >li {
                            padding: 5px 18px !important;

                            &:hover>a {
                                color: white;
                            }

                            >a {
                                color: #FFFFFF7F;
                                font-size: 13px;
                                transition: .4s;
                                font-weight: 500;
                            }
                        }
                    }
                }

                &:nth-of-type(2) {
                    margin-bottom: 50px !important;

                    >.subscribe {

                        >h5 {
                            margin-bottom: 20px !important;
                            color: white;
                        }

                        >form {
                            >* {
                                border-radius: 10px;
                                outline: none;
                                border: none;
                                background-color: #ffffff11;
                                color: white;
                                height: 60px;
                                font-size: 14px;
                                font-weight: 500;
                                font-family: JetBrains Mono;
                            }

                            >input {
                                width: 400px;
                                padding: 5px 10px !important;


                                &::placeholder {
                                    font-family: Golos Text;
                                }
                            }

                            >button {
                                width: 150px;
                                transition: .4s;

                                &:hover {
                                    transform: scale(1.1);
                                    background-color: #792D8F;
                                }
                            }
                        }
                    }

                    >.dl {
                        >div {
                            width: 190px;
                            height: 80px;
                            border-radius: 20px;
                            background-color: #ffffff11;
                            align-items: center;
                            transition: .4s;
                            cursor: pointer;

                            &:hover {
                                transform: scale(1.15);
                                background-color: #792D8F;
                            }

                            &:hover>i {
                                color: white;
                            }

                            >i {
                                margin-left: 20px !important;
                                font-size: 32px;
                                color: #FFFFFF72;
                                transition: .4s;
                            }

                            >div {
                                margin-left: 20px !important;

                                >p {
                                    text-align: center;
                                    font-size: 11px;
                                    color: #FFFFFF72;
                                    ;
                                    font-weight: 400;

                                    &:nth-of-type(2) {
                                        font-size: 15px;
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Extra Small devices (small phones, up to 600px) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    main #section1>.row>div>h2 {
        font-size: 12vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    main #section1>.row>div>h2 {
        font-size: 9vw;
    }

    main #section2>figure {
        width: 80%;
    }

    main #section3>.row>div>.row>div:nth-of-type(2)>.row>div>div>figure {
        width: 160px;
    }

    main #section3>.row>div>.row>div:nth-of-type(1)>h2 {
        font-size: 40px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main #section2>figure {
        width: 60%;
    }

    main #section3>.card1>div>.row>div:nth-of-type(1) {
        padding: 0 70px !important;
    }

    main #section3>.card2>div>.row>div:nth-of-type(2) {
        width: 490px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    main #section1>.row>div>h2 {
        font-size: 7vw;
    }

}

/* Two extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
    main #section1>.row>div>h2 {
        font-size: 5vw;
    }

    main #section3>.row>div>.row>div:nth-of-type(1)>p {
        padding-right: 100px !important;
    }
}

/* Three extra large devices (large laptops and desktops, 1920 and up) */
@media only screen and (min-width: 1920px) {
    main {
        max-width: 1920px !important;
    }
}